@use "base/variables" as v;
@use "base/mixins" as m;

.agenda {
  padding: 5rem 0;
  @include m.contenedor;
}

.eventos {
  &__heading {
    color: v.$cuaternario;
    text-align: left;
    margin: 5rem 0;
    font-size: clamp(2rem, -0.8rem + 8vw, 6rem);
  }
  &__fecha {
    color: v.$blanco;
    @include m.textoNeon(v.$blanco, 2px);
    letter-spacing: 0.2rem;
  }

  $modificador: &;

  &--workshops {
    //interpolacion: combinar string con selector
    #{$modificador}__heading {
      color: v.$primario;
    }
    .evento__informacion {
      background-color: v.$primario;
      border: 1px solid v.$primario;
      &:hover {
        background-color: darken(v.$primario, 10);
        @include m.bordeNeon(v.$primario, v.$primario);
      }
      &--nohover {
        border: none;
        &:hover {
          background-color: v.$primario;
          transform: unset;
          box-shadow: unset;
          border: unset;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: v.$blanco;
    opacity: 0.5;
  }
}

.evento {
  &__hora {
    font-weight: bold;
    margin-left: 1rem;
  }
  &__informacion {
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid v.$cuaternario;
    background-color: v.$cuaternario;
    color: #121212;
    transition: all 0.4s ease;
    margin: 0.8rem;
    &:hover {
      background-color: darken(v.$cuaternario, 10);
      transform: scale(1.01);
      @include m.bordeNeon(v.$cuaternario, v.$cuaternario);
    }
    &--nohover {
      border: none;
      &:hover {
        background-color: v.$cuaternario;
        transform: unset;
        box-shadow: unset;
        border: unset;
      }
    }
  }

  &__nombre {
    font-size: 2.4rem;
    margin: 0;
  }

  &__descripcion {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 1rem 0;
    color: #121212;
    font-weight: 200;
  }

  &__autor-info {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  &__imagen-autor {
    width: 5rem;
    background-color: v.$blanco;
    border-radius: 50%;
  }

  &__autor-nombre {
    font-weight: bold;
  }

  &__agregar {
    margin-top: 1rem;
    @include m.boton(v.$terciario, v.$gris);
  }

  
}
